<launch>
    <!-- Argument for Laser Scan Topic -->
   <!-- <arg name="topic_scan" default="/pepper_robot/naoqi_driver/laser" /> -->

    <!-- AMCL Node -->
    <node pkg="amcl" type="amcl" name="amcl" respawn="true" output="screen">
        <remap from="/scan" to="/pepper_robot/naoqi_driver/laser"/>

        <!-- Initial Robot Pose -->
        <param name="initial_pose_x" value="0.0"/>
        <param name="initial_pose_y" value="0.0"/>
        <param name="initial_pose_a" value="0.0"/>

        <!-- Particle Filter Parameters -->
        <param name="min_particles" value="250"/>
        <param name="max_particles" value="4000"/>
        <param name="resample_interval" value="1"/>
        <param name="transform_tolerance" value="2.0"/>
        <param name="gui_publish_rate" value="10.0"/>
        <param name="kld_err" value="0.05"/>
        <param name="kld_z" value="0.99"/>

        <!-- Laser Model Parameters -->
        <param name="laser_model_type" value="likelihood_field"/>
        <param name="laser_max_beams" value="30"/>
        <param name="laser_max_range" value="-1.0"/>
        <param name="laser_min_range" value="-1.0"/>
        <param name="laser_z_hit" value="0.5"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.4"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_likelihood_max_dist" value="2.0"/>

        <!-- Odometry Model (Omnidirectional) -->
        <param name="odom_model_type" value="omni"/>
        <param name="odom_alpha1" value="0.15"/>
        <param name="odom_alpha2" value="0.15"/>
        <param name="odom_alpha3" value="0.6"/>
        <param name="odom_alpha4" value="0.2"/>

        <!-- Update and Filtering Parameters -->
        <param name="update_min_d" value="0.01"/>
        <param name="update_min_a" value="0.01"/>
        <param name="recovery_alpha_slow" value="0.0"/>
        <param name="recovery_alpha_fast" value="0.0"/>

        <!-- TF Frames -->
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="base_footprint"/>

        

    </node>
</launch>
